* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr;
	
}
:root {
	--title: blue;
	--tittle_company: orange;
	--time_color: rgba(215, 223, 215, 0.87);
	--footer: rgb(227, 219, 219);
}
.right {
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 20px;
	padding-bottom: 15px;
	.property_title {
		margin-top: 15px;
		font-size: 20px;
		font-weight: bold;
	}
	h2 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 42px;
	}
	.main_info {
		p {
			margin-bottom: 10px;
			font-size: 14px;
		}
		.title_point {
			margin-bottom: 5px;
		}
		.title_company {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 24px;
		}
		ul{li{
			margin-left: 45px;
		}}
	}
}

.school{
	h3{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 22px;
	}
}
footer{display: grid;
	grid-area: 1fr;
	color: var(--footer)
	
	border: 1px solid black;
	margin: 15px;
}
.left {
	grid-column-start: 1;
	grid-column-end: 2;
	margin: 24px;

	.right_total {
		padding-left: 10px;
		li {
			color: var(--title);
		}
		.right_main_title {
			font-size: 22px;
			font-style: bold;
			padding-bottom: 10px;
			padding-top: 10px;

			.right_main_info {
				font-size: 16px;
				padding-top: 10px;
			}
		}
	}
}

h1 {
	justify-content: center;
	text-align: center;
}
h2 {
}
